<style>
*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

  body {
  height: 100vh;
  width: 100%;
  align-items: center;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("https://images.unsplash.com/photo-1590487988256-9ed24133863e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjR8fGd5bXxlbnwwfHwwfHw%3D&w=1000&q=80");
  background-size: cover;
  background-position: center;
}

.container-page{
  height: 63vh;
  width: 30vw;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  transition: 0.5s;
  background-color: rgba(255, 255, 255, 0.01);
  border: 1px solid white;
  backdrop-filter: blur(8px);
  min-width: 300px;
  min-height: 350px
}

.login-container{
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color white;
}

.input-line-container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  margin: 1rem 0;
}

.name-input{
  font-size: 12px;
}

.input-line{
  width: 100%;
  height: 30px;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #cbcbcb;
  outline: none;
  margin_bottom: 1rem;
  color: white;
}

.login-container{
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.button-register{
  width: 100%;
  height: 45px;
  border-radius: 45px;
  background: rgba(255,255,255,0.14);
  color: white;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: 0.5;
}

.button-second{
  width: calc(50% – 20px);
  height: 30px;
  border-radius: 55px;
  background: rgba(255,255,255,0.15);
  color: white;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border: 2px solid white;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: 0.5s;
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-second:hover{
  opacity: 1;
}

/* Centra el input personalizado con el texto */
.custom-radio-checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-family: arial;
}
</style>
<!DOCTYPE html>
<html">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>InExtremis</title>
  </head>
  <body>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>
      <section class="background-radial-gradient overflow-hidden">
        <body class="container-form">
          <div>
            <% if signed_in? %>
              <%= link_to "Salir", destroy_user_session_path,method: :delete %>
            <% else %>
              <%= link_to "Registrar Gym", new_employee_registration_path, class: 'button-second'%>
            <% end %>
          </div>
          <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
            <div class="row gx-lg-5 align-items-center mb-5">
              <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
                  InExtremis <br />
                  <span style="color: hsl(218, 81%, 75%)">La senda de los grandes</span>
                </h1>
                <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
                  “Lo que no se define no se puede medir.
                  Lo que no se mide, no se puede mejorar.
                  Lo que no se mejora, se degrada siempre”.
                </p>
                <p>Lord Kevlin.</p>
              </div>

              <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

                <div class="container-page">
                  <div class="input-line-container">
                    <div class="card-body px-4 py-5 px-md-5">
                      <form>

                        <!-- Email input -->
                        <div class="form-outline mb-4">
                          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input-line' %>
                          <label class="form-label" for="form3Example3">Email</label>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                          <%= f.password_field :password, autocomplete: "current-password", class: 'input-line' %>
                          <label class="form-label" for="form3Example4">Contraseña</label>
                        </div>
                        <% if devise_mapping.rememberable? %>
                          <div class="field">
                            <%= f.check_box :remember_me %>
                            <%= f.label :Recordar_Cuenta %>
                          </div>
                        <% end %>

                        <!-- Submit button -->
                        <div class="actions">
                          <%= f.submit "Ingresar", class: 'button-register' %>
                        </div>
                        <div class="actions">
                          <%= render "devise/shared/links"%>
                        </div>

                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div>

          </div>
        </body>

      </section>
      <!-- Section: Design Block -->

    <% end %>
  </body>
</html>
